In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from collections import Counter
import nltk
import re
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tag import PerceptronTagger
from nltk.data import find
from tqdm import tqdm
import itertools

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/wuga/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to /home/wuga/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
df = pd.read_json('data/baby/Baby_5.json', lines=True)

In [3]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,097293751X,"[0, 0]",5,Perfect for new parents. We were able to keep ...,"07 16, 2013",A1HK2FQW6KXQB2,"Amanda Johnsen ""Amanda E. Johnsen""",Awesine,1373932800
1,097293751X,"[0, 0]",5,This book is such a life saver. It has been s...,"06 29, 2013",A19K65VY14D13R,angela,Should be required for all new parents!,1372464000
2,097293751X,"[0, 0]",5,Helps me know exactly how my babies day has go...,"03 19, 2014",A2LL1TGG90977E,Carter,Grandmother watching baby,1395187200
3,097293751X,"[0, 0]",5,I bought this a few times for my older son and...,"08 17, 2013",A5G19RYX8599E,cfpurplerose,repeat buyer,1376697600
4,097293751X,"[0, 0]",4,I wanted an alternative to printing out daily ...,"04 1, 2014",A2496A4EWMLQ7,C. Jeter,Great,1396310400

In [4]:
df = df.drop(['reviewTime','helpful','reviewerName','summary'], axis=1)
df['reviewText'] = df['reviewText'].apply(lambda x: x.lower())

In [5]:
df.head()

,asin,overall,reviewText,reviewerID,unixReviewTime
0,097293751X,5,perfect for new parents. we were able to keep ...,A1HK2FQW6KXQB2,1373932800
1,097293751X,5,this book is such a life saver. it has been s...,A19K65VY14D13R,1372464000
2,097293751X,5,helps me know exactly how my babies day has go...,A2LL1TGG90977E,1395187200
3,097293751X,5,i bought this a few times for my older son and...,A5G19RYX8599E,1376697600
4,097293751X,4,i wanted an alternative to printing out daily ...,A2496A4EWMLQ7,1396310400

In [6]:
stop_words = stopwords.words('english')

In [7]:
#df['tmp'] = df['reviewText'].apply(lambda x: [item for item in x.lower().split() if item not in stop_words]+[' '])
df['tmp'] = df['reviewText'].apply(lambda x: nltk.word_tokenize(x)+[' '])

In [8]:
clean = df['tmp'].tolist()

In [9]:
import sys
sys.executable

'/usr/bin/python'

In [10]:
from keras.preprocessing.text import one_hot
from keras.preprocessing.text import text_to_word_sequence
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [11]:
text = df['reviewText'].tolist()

In [12]:
t = Tokenizer()
t.fit_on_texts(text)

In [13]:
print(len(t.word_counts))

67994

In [14]:
df['vector'] = t.texts_to_sequences(text)

In [15]:
df.head()

,asin,overall,reviewText,reviewerID,unixReviewTime,tmp,vector
0,097293751X,5,perfect for new parents. we were able to keep ...,A1HK2FQW6KXQB2,1373932800,"[perfect, for, new, parents, ., we, were, able...","[152, 9, 204, 586, 19, 106, 185, 3, 127, 1924,..."
1,097293751X,5,this book is such a life saver. it has been s...,A19K65VY14D13R,1372464000,"[this, book, is, such, a, life, saver, ., it, ...","[8, 834, 7, 451, 6, 572, 1189, 5, 50, 111, 18,..."
2,097293751X,5,helps me know exactly how my babies day has go...,A2LL1TGG90977E,1395187200,"[helps, me, know, exactly, how, my, babies, da...","[539, 80, 205, 619, 119, 12, 233, 212, 50, 118..."
3,097293751X,5,i bought this a few times for my older son and...,A5G19RYX8599E,1376697600,"[i, bought, this, a, few, times, for, my, olde...","[4, 87, 8, 6, 157, 243, 9, 12, 352, 75, 2, 17,..."
4,097293751X,4,i wanted an alternative to printing out daily ...,A2496A4EWMLQ7,1396310400,"[i, wanted, an, alternative, to, printing, out...","[4, 284, 85, 1524, 3, 7983, 39, 919, 7886, 612..."

In [16]:
reverse_word_map = dict(map(reversed, t.word_index.items()))

In [17]:
reverse_word_map[7]

u'is'

In [18]:
import nltk

clean=itertools.chain.from_iterable(clean)

bigrams = nltk.collocations.BigramAssocMeasures()
trigrams = nltk.collocations.TrigramAssocMeasures()

bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(clean)
trigramFinder = nltk.collocations.TrigramCollocationFinder.from_words(clean)

In [19]:
#bigrams
bigram_freq = bigramFinder.ngram_fd.items()
bigramFreqTable = pd.DataFrame(list(bigram_freq), columns=['bigram','freq']).sort_values(by='freq', ascending=False)

#trigrams
trigram_freq = trigramFinder.ngram_fd.items()
trigramFreqTable = pd.DataFrame(list(trigram_freq), columns=['trigram','freq']).sort_values(by='freq', ascending=False)

In [20]:
#get english stopwords
en_stopwords = set(stopwords.words('english'))

#function to filter for ADJ/NN bigrams
def rightTypes(ngram):
    if '-pron-' in ngram or 't' in ngram:
        return False
    for word in ngram:
        if word in en_stopwords or word.isspace():
            return False
    acceptable_types = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    second_type = ('NN', 'NNS', 'NNP', 'NNPS')
    tags = nltk.pos_tag(ngram)
    if tags[0][1] in acceptable_types and tags[1][1] in second_type:
        return True
    else:
        return False

#filter bigrams
filtered_bi = bigramFreqTable[bigramFreqTable.bigram.map(lambda x: rightTypes(x))]

In [21]:
filtered_bi.head(30)

                      bigram   freq
1486170          (car, seat)  11409
278604         (diaper, bag)   5887
1531740        (high, chair)   3080
492778      (great, product)   2725
473409          (son, loves)   2479
633333         (first, time)   2354
159016          (sippy, cup)   2084
1064109    (daughter, loves)   2072
964864         (baby, loves)   2017
461816         (sippy, cups)   1968
1359139     (cloth, diapers)   1949
267304            (old, son)   1936
357065       (good, quality)   1920
362757         (little, bit)   1822
136838          (baby, food)   1770
991357          (long, time)   1761
406027         (super, easy)   1738
1171940            (n, play)   1715
545601         (little, guy)   1702
937632          (car, seats)   1691
271682       (perfect, size)   1680
134194        (baby, shower)   1574
1367336      (old, daughter)   1509
32521              (pack, n)   1432
1237784        (cup, holder)   1397
650163   (customer, service)   1323
78095            (big, deal)   1257
1079994      (fisher, price)   1224
1163472       (little, ones)   1135
972521         (tummy, time)   1135

In [22]:
#filter for only those with more than 20 occurences
bigramFinder.apply_freq_filter(20)
trigramFinder.apply_freq_filter(20)

bigramPMITable = pd.DataFrame(list(bigramFinder.score_ngrams(bigrams.pmi)), columns=['bigram','PMI']).sort_values(by='PMI', ascending=False)

In [23]:
bigramPMITable.head(30)

                       bigram        PMI
0               (jenny, lind)  19.256318
1              (alpha, omega)  19.003268
2             (vera, bradley)  18.966812
3            (walkie, talkie)  18.966812
4                 (da, vinci)  18.721982
5                 (wal, mart)  18.688035
6                  (au, lait)  18.559711
7             (jl, childress)  18.438734
8            (san, francisco)  18.413860
9               (itzy, ritzy)  18.306944
10             (witch, hazel)  18.273904
11           (bloody, murder)  18.141820
12              (itty, bitty)  18.138547
13                (santa, fe)  18.037484
14               (summit, xc)  17.905659
15              (imse, vimse)  17.896207
16           (carpal, tunnel)  17.882974
17           (klean, kanteen)  17.868271
18                 (2.4, ghz)  17.818844
19               (tots, bots)  17.767786
20          (petunia, pickle)  17.747338
21            (quattro, tour)  17.721982
22  (love/hate, relationship)  17.702082
23        (butternut, squash)  17.683847
24             (stork, craft)  17.490467
25               (pura, kiki)  17.441874
26            (allen, wrench)  17.398528
27        (captain, calamari)  17.391337
28             (tripp, trapp)  17.382373
29               (techno, xt)  17.115709

In [24]:
bigramPMITable['Phrases'] = bigramPMITable['bigram'].apply(lambda x: ' '.join(x))

In [25]:
bigramPMITable = bigramPMITable.drop(['bigram'], axis=1)

In [26]:
keyphrases = bigramPMITable['Phrases'].tolist()[:100]

In [37]:
df['keyVector'] = df['reviewText'].apply(lambda x: [1. if key in x else 0 for key in keyphrases])

In [41]:
import numpy as np
x = np.matrix(df['keyVector'].tolist())

In [43]:
len(x.nonzero()[0])

4376

In [44]:
x.shape

(160792, 100)

In [46]:
4372.0/(160792*100)

0.00027190407482959353