In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from collections import Counter
import nltk
import re
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tag import PerceptronTagger
from nltk.data import find
from tqdm import tqdm

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/wuga/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [2]:
import json
from tqdm import tqdm

user_count = Counter()
item_count = Counter()
with open('data/book/Books_5.json') as f:
    for line in tqdm(f):
        line_content = json.loads(line)
        if len(line_content['reviewText']) > 20:
            user_count[line_content['reviewerID']] += 1
            item_count[line_content['asin']] += 1
        
user_candidates = {x for x in user_count if (user_count[x] >= 50) and (user_count[x] <= 2000)}
item_candidates = {x for x in item_count if (item_count[x] >= 50) and (item_count[x] <= 2000)}

8898041it [02:26, 60629.15it/s]

In [3]:
data = []
with open('data/book/Books_5.json') as f:
    for line in tqdm(f):
        line_content = json.loads(line)
        if (line_content['reviewerID'] in user_candidates 
            and line_content['asin'] in item_candidates):
            data.append(line_content)
            
df = pd.DataFrame(data)

8898041it [02:31, 58925.15it/s]

In [4]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,000100039X,"[0, 2]",5.0,This is one my must have books. It is a master...,"12 11, 2003",A2S166WSCFIFP5,"adead_poet@hotmail.com ""adead_poet@hotmail.com""",close to god,1071100800
1,000100039X,"[7, 9]",5.0,A timeless classic. It is a very demanding an...,"10 7, 2002",A2XQ5LZHTD4AFT,Alaturka,A Modern Rumi,1033948800
2,000100039X,"[0, 0]",5.0,"Deep, moving dramatic verses of the heart and ...","11 3, 2013",A29TRDMK51GKZR,Alpine Plume,Such Beauty,1383436800
3,000100039X,"[0, 0]",5.0,When I was in college in the 70's this book ha...,"02 28, 2001",A2I35JB67U20C0,Amazon Customer,Everyone should have this book,983318400
4,000100039X,"[0, 0]",5.0,"I have the 1972 version, bought in 1974. The 1...","07 16, 2012",A1TT4CY55WLHAR,anonymous,"textured paper, old-style typography, and leat...",1342396800

In [5]:
len(df)

1939811

In [6]:
df.asin.nunique()

34344

In [7]:
df.reviewerID.nunique()

58298

In [8]:
float(len(df))/(df.asin.nunique()*df.reviewerID.nunique())

0.0009688463029662044

In [9]:
df.asin.value_counts()

1476755590    1129
1476741182     861
1476712980     816
0989450201     802
0307277674     777
0988301318     771
0989104400     758
1480536466     753
0989450236     746
0062294776     743
0307265439     733
1476776016     733
1476761779     731
0989450252     716
149539090X     707
0451419707     697
1495307352     697
0385660065     689
1455576506     681
1490559175     681
0439023491     672
006230240X     667
149043013X     666
030728090X     666
0425266745     663
061579615X     637
0307744434     632
014118776X     630
1476755604     620
125005236X     619
              ...
0545349206       2
1623152437       2
0545222281       2
1623153301       2
0805440399       2
095682370X       2
1435217993       2
1607085240       2
032119991X       2
1623152917       2
1623152615       2
0956823769       1
1623153182       1
1623152674       1
B009L72X3U       1
1623152828       1
1623152585       1
1493625012       1
1623152631       1
162315054X       1
0439877563       1
1623153832       1
1623152372       1
1623152526       1
B0074D57K4       1
1623152429       1
0956823726       1
1623152879       1
B007415LUM       1
1623152453       1
Name: asin, Length: 34344, dtype: int64

In [12]:
df.reviewerID.value_counts()

AYT4FJYVCHYLE     599
A3KBRXW4PKK2MT    571
A1S3IN6CSTBPY6    569
A3IQ0P3M39IY8U    568
A3Z9QN0RCOHEY     551
A3OL1AX1IODBYL    549
ABMX8XUNPR3LP     545
A2H44WVZS59KKT    540
A2IEQ2QLPYH8I3    535
A3BFDEBT5IV4UN    532
A4SKIA2A7IDRX     532
A1RMHZSWZ7ZEQO    527
A25HYPL2XKQPZB    524
A19UT0OPQCDR8     504
A3VMCKYN22X0CO    503
A3U29LBT749HJ0    503
A33JTEMYGCO69V    486
A17U562HOY2OQV    485
A39ABKRS1MKFTW    484
A6XR7Y415RPD0     483
A11GG623AD89YT    478
A16QQ78I8J29PA    472
A8N3FYDA2VUYY     471
A2YJ8VP1SSHJ7     464
A2XXQJBK2IDMGI    463
AW4NFCPN81CS3     457
A11L3YX5WIDKJ     456
AD9HAE7DPTQDG     456
A3KM84RAZA7XXC    453
A1GARI2JT6EAWA    448
                 ...
AK9YM6AQRC8GH       1
A1LJ3IRGRTECFL      1
A2W6WNONRB8HO0      1
AWN0A6LEBII1Y       1
A3T2X3MKFRM5EP      1
A48YAV9RIZLD6       1
A124UGX9SB53U7      1
AKUURPDPR1FWT       1
A30YLUI779UBVE      1
A3TJ0JT5NNQ1B9      1
A35HU9X3YZNEJU      1
A3SGSNLCHHU7BD      1
A2566NSBE138RW      1
ACC00ZPJ89UEF       1
A2KH62KKRM60H0      1
A2EAIVZWO6IDFN      1
A2YEEZR9HEVRKG      1
ATJVTM49HHW3Y       1
A3GR7HX4GYKCE9      1
A26IT8ESJZ04HZ      1
A3IKZCNLIKKXK1      1
A2SYN6WH32QZQT      1
AP5K9Z4FTDVCQ       1
A1X9KPFR737I3O      1
AONO9ZQLD4H7G       1
A3QDJD269744L2      1
A1Q6NWOHDMIUBD      1
A3K7YCEJFYJJ15      1
A2NJ5OBJ6M7CDB      1
A3IF5F74ES9KJF      1
Name: reviewerID, Length: 58298, dtype: int64